* {
    background-color: #222831;
    margin: 0%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
}
img{
    opacity: 0.6;
}
form {
    display: flex;
    flex-direction: column;
}

a {
    margin: 10px;
    margin-top: 5px;
    text-decoration: none;
    color:#EEEEEE;
    font-weight: 400;
}
h1 , h2{
    text-align: start;
    margin-left:150px ;
    color:#CAF4FF;
}
h1{
    margin-top: 100px;
    font-weight: 600;
}
h2{
    padding-top: 10px;
    font-size: 20px;
    margin-left: 160px;
    color:#BACD92;
    font-weight: 500;
}
.box1,
.box2 {
    flex: 1;
}

.box1 {
    margin: 20px;
}

form {
    margin-top: 50px;
    margin-left: 200px;
}

input[type=text] {
    color: aliceblue;
    border-radius: 5px;
    border: 2px solid #9DB2BF;
    margin: 10px;
    width: 250px;
    margin-bottom: 20px;
    padding: 10px;
}

input[type=password] {
    color: aliceblue;
    border: 2px solid #9DB2BF;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 10px;
    padding: 10px;
}

input[type=email] {
    color: aliceblue;
    border-radius: 5px;
    border: 2px solid #9DB2BF;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

input[type=submit] {
    border-radius: 5px;
    border: 2px solid #9DB2BF;
    background-color: #9DB2BF;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    font-weight: 500;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus {
    border: 2px solid #9DB2BF;
    box-shadow: 0 0 10px #9DB2BF;
    outline: none;
}

::placeholder {
    color: aliceblue;
}

.box2 {
    padding-left: 310px;
}
::selection{
    background-color: #FF8E8F;
}